@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: "Mulish", sans-serif;
}

header nav div {
  background-color: #84a98c;
}
header nav div div {
  justify-content: space-between;
  display: flex;
}
header nav div div ul {
  display: flex;
  list-style: none;
}
header nav div div ul li {
  margin: 15px;
}
header nav div div ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none; /*Borro el subrayado */
}
header nav div div ul li a:hover {
  color: rgba(77, 57, 105, 0.9647058824);
  border-top: rgba(77, 57, 105, 0.9647058824) 1px solid;
}

main .vinedos {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
main .titulo {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}
main .destgrande {
  align-items: center; /* Centra verticalmente el contenedor */
  display: flex;
  justify-content: space-evenly; /* Centra horizontalmente el contenedor */
}
main .destgrande .destacados {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .destgrande .destacados img {
  height: 300px;
  vertical-align: middle;
  width: 300px;
}
main .destgrande .destacados img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
main .destgrande .destacados .subtitulo {
  padding-top: 15px;
  text-align: center;
  color: black;
  font-size: 25px;
  text-align: center;
}
main .contenedor1 {
  display: flex;
}
main .contenedor1 .contenedor2 {
  flex: 1; /* Ocupa el 50% del ancho total */
  padding: 20px; /* Agrega espaciado alrededor del contenido */
}
main .contenedor1 .contenedor2 .titulo {
  font-family: "Trebuchet MS";
  font-size: 25px;
  font-weight: bold;
}
main .contenedor1 .contenedor2 p {
  text-align: justify;
  font-size: 18px;
  margin-bottom: 20px; /* Agrega espacio entre los párrafos */
}
main .contenedor1 .contenedor2 .contenedorboton {
  text-align: center;
  margin-top: 20px;
}
main .contenedor1 .contenedor3 {
  flex: 1; /* Ocupa el 50% del ancho total */
  overflow: hidden; /* Evita que la imagen se desborde del contenedor */
}
main .contenedor1 .contenedor3 img {
  width: 100%;
  height: auto;
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}
main .contenedor4 {
  padding-top: 30px;
  display: flex;
}
main .contenedor4 .contenedor6 {
  flex: 1; /* Ocupa el 50% del ancho total */
  padding: 20px; /* Agrega espaciado alrededor del contenido */
}
main .contenedor4 .contenedor6 .titulo {
  font-family: "Trebuchet MS";
  font-size: 25px;
  font-weight: bold;
}
main .contenedor4 .contenedor6 p {
  text-align: justify;
  font-size: 18px;
  margin-bottom: 20px; /* Agrega espacio entre los párrafos */
}
main .contenedor4 .contenedor6 .contenedorboton {
  text-align: center;
  margin-top: 20px;
}
main .contenedor4 .contenedor5 {
  flex: 1; /* Ocupa el 50% del ancho total */
  overflow: hidden; /* Evita que la imagen se desborde del contenedor */
}
main .contenedor4 .contenedor5 img {
  width: 100%;
  height: auto;
  display: block; /* Elimina el espacio adicional debajo de la imagen */
}
main .sobrentros p {
  text-align: justify;
  font-size: 18px;
  padding: 10px 20px;
}
main .formulario {
  background-color: #ebedf0;
  max-width: 500px;
  margin: 20px auto;
  border: 5px solid #84a98c;
  padding: 1rem;
}
main .formulario button {
  background-color: #84a98c;
  border: 5px solid #e8ece9;
}

/*carrusel*/
.d-item {
  height: 600px;
}

.d-img {
  height: 600px;
  object-fit: cover;
  filter: brightness(0, 6);
}

.contenedor {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 96px;
  position: relative;
}

footer {
  background-color: #84a98c;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 5rem;
}
footer .menu {
  align-items: center; /* Centra verticalmente el contenedor */
  display: flex;
  font-size: 1.2rem;
  justify-content: space-evenly; /* Centra horizontalmente el contenedor */
  padding-top: 20px;
}
footer .menu ul {
  display: flex;
  list-style: none;
}
footer .menu ul li {
  margin: 15px;
}
footer .menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none; /*Borro el subrayado */
}
footer .menu ul li a:hover {
  color: rgba(77, 57, 105, 0.9647058824);
  border-top: rgba(77, 57, 105, 0.9647058824) 1px solid;
}
footer .redes {
  text-align: center;
}
footer .redes a {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}
footer .redes a img {
  height: 30px;
  width: 30px;
}
footer .redes a img:hover {
  transform: scale(1.2);
}
footer .texto {
  text-align: center;
}

/*# sourceMappingURL=estilo.css.map */
