header {
    
    nav{
        
        div{
            background-color: #84a98c;
            div{      
                justify-content: space-between;
                display: flex;
                
                ul{
                    display: flex;
                    list-style: none;
                    li{
                        margin: 15px;
                        a{
                            color: rgb(0, 0, 0);
                            text-decoration: none; /*Borro el subrayado */
                            &:hover{
                                color:#4d3969f6;
                                border-top: #4d3969f6 1px solid;
                            }
                          }
                      }
                }
            }
        
        }
    
    }
}