main{
    .vinedos{
        align-items: center; 
        display: flex; 
        height: 400px; 
        justify-content: center; 
        overflow: hidden;
        width: 100%;
    }
    .titulo{
        color:black;
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        font-style: normal;
        text-align: center;
        margin-bottom: 20px;
    }
    .destgrande{
        align-items: center; /* Centra verticalmente el contenedor */
        display: flex;
        justify-content: space-evenly; /* Centra horizontalmente el contenedor */
        .destacados {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                height: 300px;
                vertical-align: middle;
                width: 300px;
                &:hover{
                    transform:scale(1.1);
                    cursor: pointer;
                }
            }
            .subtitulo{
                    padding-top: 15px;
                    text-align: center;
                    color:black;
                    font-size: 25px;
                    text-align: center;
            }
        }   
              
    }
    .contenedor1 {
        display: flex;
      
        .contenedor2 {
          flex: 1; /* Ocupa el 50% del ancho total */
          padding: 20px; /* Agrega espaciado alrededor del contenido */
      
          .titulo {
            font-family: 'Trebuchet MS';
            font-size: 25px;
            font-weight: bold;
          }
      
          p {
            text-align: justify;
            font-size: 18px;
            margin-bottom: 20px; /* Agrega espacio entre los párrafos */
          }
      
          .contenedorboton {
            text-align: center;
            margin-top: 20px;
          }
        }
      
        .contenedor3 {
          flex: 1; /* Ocupa el 50% del ancho total */
          overflow: hidden; /* Evita que la imagen se desborde del contenedor */
          img {
            width: 100%;
            height: auto;
            display: block; /* Elimina el espacio adicional debajo de la imagen */
          }
        }
      }
    .contenedor4 {
        padding-top: 30px;
        display: flex;
      
        .contenedor6 {
          flex: 1; /* Ocupa el 50% del ancho total */
          padding: 20px; /* Agrega espaciado alrededor del contenido */
      
          .titulo {
            font-family: 'Trebuchet MS';
            font-size: 25px;
            font-weight: bold;
          }
      
          p {
            text-align: justify;
            font-size: 18px;
            margin-bottom: 20px; /* Agrega espacio entre los párrafos */
          }
      
          .contenedorboton {
            text-align: center;
            margin-top: 20px;
          }
        }
      
        .contenedor5 {
          flex: 1; /* Ocupa el 50% del ancho total */
          overflow: hidden; /* Evita que la imagen se desborde del contenedor */
          img {
            width: 100%;
            height: auto;
            display: block; /* Elimina el espacio adicional debajo de la imagen */
          }
        }
      }
      .sobrentros{
        
        p{
          text-align: justify;
          font-size: 18px;
          padding: 10px 20px;
        }
      }
      .formulario {
        background-color: #ebedf0;
        max-width: 500px;
        margin: 20px auto;
        border: 5px solid #84a98c ;
        padding: 1rem;
        button{
          background-color: #84a98c;
          border: 5px solid #e8ece9;
        }
      }
    }
    /*carrusel*/
    .d-item{
        height: 600px;
      }
      .d-img{
        height: 600px;
        object-fit: cover;
        filter: brightness(0,6);
      }
    .contenedor {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 96px;
        position: relative;
      }
